
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1463452342'); /* IE9*/
  src: url('iconfont.eot?t=1463452342#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1463452342') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1463452342') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1463452342#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-refresh:before { content: "\e66f"; }
.icon-arrowup:before { content: "\e66d"; }
.icon-arrowright:before { content: "\e66c"; }
.icon-arrowdown:before { content: "\e66b"; }
.icon-back:before { content: "\e66a"; }
.icon-arrowtriangulardown:before { content: "\e669"; }
.icon-arrowtriangularright:before { content: "\e668"; }
.icon-arrowtriangularup:before { content: "\e667"; }
.icon-arrowtriangularleft:before { content: "\e666"; }
.icon-arrowcircle:before { content: "\e665"; }
.icon-weixin:before { content: "\e664"; }
.icon-upgrade:before { content: "\e663"; }
.icon-theme:before { content: "\e662"; }
.icon-reserveblue:before { content: "\e65e"; }
.icon-quickpay:before { content: "\e65c"; }
.icon-quickpass:before { content: "\e65b"; }
.icon-question:before { content: "\e65a"; }
.icon-qq:before { content: "\e659"; }
.icon-pocketlife:before { content: "\e658"; }
.icon-paymentrcharge:before { content: "\e657"; }
.icon-onlinepay:before { content: "\e656"; }
.icon-notice:before { content: "\e655"; }
.icon-locate:before { content: "\e654"; }
.icon-share:before { content: "\e661"; }
.icon-setup:before { content: "\e660"; }
.icon-reservegray:before { content: "\e65f"; }
.icon-remove:before { content: "\e65d"; }
.icon-cameragray:before { content: "\e64a"; }
.icon-cancel:before { content: "\e64b"; }
.icon-clearup:before { content: "\e64d"; }
.icon-collect:before { content: "\e64e"; }
.icon-finance:before { content: "\e64f"; }
.icon-fontsize:before { content: "\e650"; }
.icon-givenaccess:before { content: "\e651"; }
.icon-mail:before { content: "\e653"; }
.icon-bss:before { content: "\e649"; }
.icon-ayment:before { content: "\e648"; }
.icon-creditcardpeyment:before { content: "\e646"; }
.icon-purse:before { content: "\e644"; }
.icon-camera:before { content: "\e643"; }
.icon-personalloan:before { content: "\e642"; }
.icon-payeemgr:before { content: "\e63a"; }
.icon-trash:before { content: "\e630"; }
.icon-dollar:before { content: "\e631"; }
.icon-tag:before { content: "\e632"; }
.icon-receiver:before { content: "\e633"; }
.icon-transfercard:before { content: "\e634"; }
.icon-transferphone:before { content: "\e635"; }
.icon-transferbooking:before { content: "\e636"; }
.icon-arrowblue:before { content: "\e647"; }
.icon-creditcard:before { content: "\e645"; }
.icon-qrcode:before { content: "\e639"; }
.icon-transferrecord:before { content: "\e638"; }
.icon-rmbgray:before { content: "\e62f"; }
.icon-keyboard:before { content: "\e62e"; }
.icon-down:before { content: "\e62d"; }
.icon-addbig:before { content: "\e62c"; }
.icon-hook:before { content: "\e62b"; }
.icon-tipsclose:before { content: "\e628"; }
.icon-close:before { content: "\e626"; }
.icon-del:before { content: "\e627"; }
.icon-ask:before { content: "\e620"; }
.icon-more:before { content: "\e622"; }
.icon-searchbig:before { content: "\e624"; }
.icon-search:before { content: "\e625"; }
.icon-add:before { content: "\e629"; }
.icon-center:before { content: "\e621"; }
.icon-lightpay:before { content: "\e652"; }
.icon-ifc:before { content: "\e670"; }
.icon-lookup:before { content: "\e671"; }
.icon-feedback:before { content: "\e672"; }
